<section>
  <div class="page-header">
    <h1>Portfolio</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="portfolio in vm.portfolios"
       ui-sref="portfolios.view({ portfolioId: portfolio._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="portfolio.created | date:'mediumDate'"></span>
        by
        <span ng-if="portfolio.user" ng-bind="portfolio.user.displayName"></span>
        <span ng-if="!portfolio.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="portfolio.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.portfolios.$resolved && !vm.portfolios.length">
    No Portfolios yet, why don't you <a ui-sref="portfolios.create">create one</a>?
  </div>
</section>
