<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Chow Jia Ying</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        NUS Computer Science Undergraduate
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to my personal website</h2>
    <p>To view my blog posts, go to Blog Posts</p>
    <p>To view my portfolio, go to Portfolio</p>
    <p>To look at some mini projects, go to Snippets</p>
  </div>
</section>
